body {
  font-size: 30px;
  font-family: Verdana;
  transition: all 250ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

ul {
  padding-left: 0px;
  padding: 20px;
  margin: 0;
}

li {
  list-style: none;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.fruits li:hover::after {
  content: '😋';
}

.list-container {
  background-color: #ffb900;
  border-radius: 20px;
}

.list {
  background-color: #2b32b2;
  color: white;
  width: 350px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.invisible {
  display: none;
}
